@import url('https:fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
    --themeGreen: rgb(119, 172, 3);
    --themeSuperLightGreen: rgb(220, 240, 179);
    --themeRed: rgb(240,10,10);
    --themeSeaGreen: rgb(180, 201, 144);
    --themeTranSeaGreen: rgb(180, 201, 144, 0.5);
    --themeTreeBrown: rgb(71, 79, 67);
}

body {
  background: var(--themeSuperLightGreen);
}

/* Navigation bar  */
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.navbar__custom .navbar-nav .nav-link {
    color: var(--themeSuperLightGreen);
}

.navbar__custom .nav-item.active .nav-link,
.navbar__custom .nav-item:hover .nav-link {
    color: #fff;
}

.navbar__custom {
    background-color: var(--themeGreen);
}

.navbar__custom .dropdown-menu {
    background-color: var(--themeGreen);
}

.navbar__custom .dropdown-item {
    color: #fff;
}

.navbar__custom .dropdown-item:hover,
.navbar__custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

/* Helpers */

.border__highlight {
    border: 1px solid var(--themeSuperLightGreen)
}

/* Hero image */
.hero__image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: url(../images/things_to_do_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

/* Home page */
/* Jumbotron */

.jumbotron {
    width: 94%;
    margin-top: 8rem;
    padding: 2rem;
    background: var(--themeTranSeaGreen);
}

.jumbotron h1 {
    margin-bottom: 1rem;
    color: var(--themeTreeBrown);
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
}

/* Form defaults */
.form__error {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--themeRed);
}

.form__error-hidden {
    display: none;
}

.form__info-text {
    margin-top: 1rem;
}

.form__header-bg {
    background: var(--themeSeaGreen);
}

.card {
    border: 1px solid var(--themeSuperLightGreen)
}

.card-header {
    background: var(--themeSeaGreen);
}

/* Login form */
.login__form-width {
    width: 94%;
}

/* Register form */
.register__form-width {
    width: 94%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.jumbotron {
    width: 65%;
}

.login__form-width {
    width: 70%;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
