@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Mitr:wght@500&display=swap'); */

:root {
    --themeGreen: rgb(119, 172, 3);
    --themeShadeGreen: rgb(108, 160, 15);
    --themeSuperLightGreen: rgb(220, 240, 179);
    --themeRed: rgb(240,10,10);
    --themeTransRed: rgb(240, 10, 10, 0.4);
    --themeSeaGreen: rgb(180, 201, 144);
    --themeTranSeaGreen: rgb(180, 201, 144, 0.5);
    --themeTreeBrown: rgb(71, 79, 67);
    --themeTransTreeBrown: rgb(71, 79, 67, 0.8);
    --themeDarkGreen: rgb(29, 62, 4);
}

body {
    background: var(--themeSuperLightGreen);
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/* Navigation bar  */
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

.navbar__custom .navbar-nav .nav-link {
    color: var(--themeSuperLightGreen);
}

.navbar__custom .nav-item.active .nav-link,
.navbar__custom .nav-item:hover .nav-link {
    color: #fff;
}

.navbar__custom {
    background-color: var(--themeGreen);
}

.navbar__custom .dropdown-menu {
    background-color: var(--themeShadeGreen);
}

.navbar__custom .dropdown-item {
    color: #fff;
}

.navbar__custom .dropdown-item:hover,
.navbar__custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

/* Helpers */

.border__highlight {
    border: 1px solid var(--themeSuperLightGreen)
}

.toggle__arrow {
    color: var(--themeSeaGreen);
    font-size: 0.8em;
    cursor: pointer;
}

.btn {
    font-family: Oswald, sans-serif;
}

.error__handler {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: rgb(200, 191, 186);
    background-image: url(../images/error_handler.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.error__handler-message {
    width: 80%;
    color: #fff;
    background: var(--themeTransTreeBrown);
    font-size: 1.4em;
    border-radius: calc(.25em - 1px);
}


/* Hero image */
.hero__image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: url(../images/things_to_do_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

/* Home page */
/* Jumbotron */

.jumbotron {
    width: 94%;
    margin-top: 4em;
    padding: 1em;
    background: var(--themeTranSeaGreen);
}

.jumbotron h1 {
    margin-bottom: 1em;
    color: var(--themeTreeBrown);
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 500;
}

/* Form defaults */
.form__error {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--themeRed);
}

.form__error-hidden {
    display: none;
}

.form__info-text {
    margin-top: 1em;
}

.form__header-bg {
    background: var(--themeSeaGreen);
}

.form__divider {
    height: 2px;
    background-color: var(--themeSeaGreen);
    border: none;
}

.form__image-height {
    height: 12.5em;
}

.profile__data {
    font-weight: bold;
}

.profile__label {
    color: var(--themeDarkGreen);
}

/* Tool tips */

.tooltip-inner {
    background-color: var(--themeTreeBrown);
    color: #fff;
    text-align: left;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: var(--themeTreeBrown) !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: var(--themeTreeBrown) !important;
}

/* .tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #cc000a !important;
} */

/* .tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #0e0f0e !important;
} */

/* Results cards */
.card {
    background: transparent;
    border: 1px solid var(--themeSuperLightGreen);
}

.card-header {
    background: var(--themeSeaGreen);
}

.card-body {
    background: rgba(250,250,250,0.9);
}
.card__btn {
    border-radius: 30%;
}

.card__image {
    height: 213px;
    width: 286px;
    overflow: hidden;
}

/* Login form */
.login__form-width {
    width: 94%;
}

/* Register form */
.register__form-width {
    width: 94%;
}

/* Results */

.results__title {
    margin: 2em 0;
    padding: 0.5em;
}

.results__title span {
    padding: 0.5em;
    background: var(--themeTranSeaGreen);
    color: var(--themeTreeBrown);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: calc(.25em - 1px);
}

.activity-view__container {
    margin-bottom: 2em;
    padding: 1em;
    background: rgba(250,250,250,0.9);
    border: 2px solid var(--themeSuperLightGreen);
    border-radius: calc(.4em - 1px);
}

.activity-view__container h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
}

.activity-view__short-descr {
    font-size: 2em;
}

.activity-view__long-descr {
    padding: 8px 12px;
    overflow-y: auto;
    background: #fefefe;
}

.activity-view__label {
    margin-bottom: 0;
    font-size: 1.25em;
    font-weight: bold;    
}

.activity-view__address {
}

.activity-view__link {
    font-size: 1em;
}

a.info:link, a.info:visited {
    display: inline-block;
    background-color: white;
    color: black;
    border: 2px solid var(--themeGreen);
    border-radius: 10px;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
}

a.info:hover, a.info:active {
    background-color: var(--themeGreen);
    color: white;
}


/* Flash message */
.flash__message {
    width: 100%;
    height: 2.2em;
    background: transparent;
    margin-bottom: 1em;
    color: var(--themeTreeBrown);
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    border-radius: calc(.25em - 1px);
}

.flash__message-info {
    background: var(--themeTranSeaGreen);
    /* color: var(--themeDarkGreen); */
    color: #fff;
    padding: 0.5em;
}

.flash__message-error {
    background: var(--themeTransRed);
    /* color: var(--themeDarkGreen); */
    color: #fff;
    padding: 0.5em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    /* Override bootstrap height to line-up textarea with other fields */
    #category, #whenTodo, #venue-address {
        height: 7.7em;
    }

    .card__btn {
        border-radius: .25rem;
    }

    .card-title {
        height: 2.5em;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .jumbotron {
        width: 65%;
        margin-top: 8em;
        padding: 2em;
    }

    .login__form-width {
        width: 70%;
    }

    .results__title span {
        font-size: 1.6em;
    }

    .form__image-align {
        margin-top: 2em;
    }

    .error__handler-message {
        font-size: 2em;
    }

    .activity-view__long-descr {
        height: 324px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .activity-view__long-descr {
        height: 392px;
    }

}
