@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');

:root {
    --themeGreen: rgb(119, 172, 3);
    --themeShadeGreen: rgb(108, 160, 15);
    --themeSuperLightGreen: rgb(220, 240, 179);
    --themeRed: rgb(240,10,10);
    --themeTransRed: rgb(240, 10, 10, 0.4);
    --themeSeaGreen: rgb(180, 201, 144);
    --themeTranSeaGreen: rgb(180, 201, 144, 0.5);
    --themeTreeBrown: rgb(71, 79, 67);
    --themeDarkGreen: rgb(29, 62, 4);
}

body {
    background: var(--themeSuperLightGreen);
    font-size: 16px;
}

/* Navigation bar  */
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.navbar__custom .navbar-nav .nav-link {
    color: var(--themeSuperLightGreen);
}

.navbar__custom .nav-item.active .nav-link,
.navbar__custom .nav-item:hover .nav-link {
    color: #fff;
}

.navbar__custom {
    background-color: var(--themeGreen);
}

.navbar__custom .dropdown-menu {
    background-color: var(--themeShadeGreen);
}

.navbar__custom .dropdown-item {
    color: #fff;
}

.navbar__custom .dropdown-item:hover,
.navbar__custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

/* Helpers */

.border__highlight {
    border: 1px solid var(--themeSuperLightGreen)
}

.toggle__arrow {
    color: var(--themeSeaGreen);
    font-size: 0.8em;
    cursor: pointer;
}



/* Hero image */
.hero__image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: url(../images/things_to_do_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

/* Home page */
/* Jumbotron */

.jumbotron {
    width: 94%;
    margin-top: 4em;
    padding: 1em;
    background: var(--themeTranSeaGreen);
}

.jumbotron h1 {
    margin-bottom: 1em;
    color: var(--themeTreeBrown);
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 500;
}

/* Form defaults */
.form__error {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--themeRed);
}

.form__error-hidden {
    display: none;
}

.form__info-text {
    margin-top: 1em;
}

.form__header-bg {
    background: var(--themeSeaGreen);
}

.form__divider {
    height: 2px;
    background-color: var(--themeSeaGreen);
    border: none;
}

.card {
    border: 1px solid var(--themeSuperLightGreen)
}

.card-header {
    background: var(--themeSeaGreen);
}

/* Login form */
.login__form-width {
    width: 94%;
}

/* Register form */
.register__form-width {
    width: 94%;
}

/* Results */

.results__title {
    margin: 2em 0;
    padding: 0.5em;
}

.results__title span {
    padding: 0.5em;
    background: var(--themeTranSeaGreen);
    color: var(--themeTreeBrown);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: calc(.25em - 1px);
}

/* Flash message */
.flash__message {
    width: 100%;
    height: 2.2em;
    background: transparent;
    /* padding: 0.5em; */
    color: var(--themeTreeBrown);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: calc(.25em - 1px);
}

.flash__message-info {
    background: var(--themeTransRed);
    /* color: var(--themeDarkGreen); */
    color: #fff;
    padding: 0.5em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .jumbotron {
        width: 65%;
        margin-top: 8em;
        padding: 2em;
    }

    .login__form-width {
        width: 70%;
    }

    .results__title span {
        font-size: 1.6em;
    }

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
