{% extends "base.html" %}
{% block content %}

<section class="container about__container mb-5 pb-5 mx-auto">
	<div class="about__body border__highlight shadow">
        <h1>Things to Do and Places to Go is here to help find you those very things.</h1>
        <p class="mt-4">
            Whether your are after an adventurous trip out or just fancy a big adventure at home, we are here to help.
        </p>
        <p class="mb-4">
            To use this app you don't have to login/register you can just start searching straight-away.  You can search for things by word/phrase, categories and more. If you find something you like, but don't have time to do it yet then why not 'Login/Register' and then you can add it to your 'Favourite Activities' and easily find it next time. Also by being a registered user you can also add a new activity to our database to help others searching for new things to do.
        </p>
        <h3 class="mb-4">
            " So what are you waiting for, find something to do, or a place to go. "
        </h3>
        <p class="mb-1">
            Our little site is growing...we appreciate your help. Thank you.
        </p>
        <p>
            <strong>{{ total_activities }}</strong> activities available by <strong>{{ total_users }}</strong> registered users.
        </p>
    </div>
</section>


{% endblock %}