{% extends "base.html" %}
{% block content %}

<!-- Set variables to help display favourite heart-icon -->
{% if activity.inUsersFavourites == 'Y' %}
    {% set favourite_icon_style = 'fas' %}
    {% set favourite_link_style = 'favourites__remove' %}
    {% set favourite_alt_text = 'Remove from' %}
    {% set favourite_action = '0' %}
{% else %}
    {% set favourite_icon_style = 'far' %}
    {% set favourite_link_style = 'favourites__add' %}
    {% set favourite_alt_text = 'Add to' %}
    {% set favourite_action = '1' %}
{% endif %}

<div class="activity-view__container">
    <!-- Title and short description -->
    <div class="row">
        <div class="col-10">
            <h2>{{ activity.title|lower|capitalize }}</h2>
        </div>
        <div class="col-2">
            <div class="d-inline-block float-right mt-1">
                <a class="{{ favourite_link_style }}" href="/activity/favourite/{{ activity._id }}/{{ favourite_action}}/" alt="{{ favourite_alt_text }} your Activity Favourites" title="{{ favourite_alt_text }} your Activity Favourites">
                    <i class="{{ favourite_icon_style }} fa-heart fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="col-12">
            <h3>{{ activity.shortDescr }}</h3>
        </div>
    </div>
    <!-- Image and long description -->
    <div class="row">
        <div class="col-lg-6 mb-lg-3">
            <div class="activity-view__image">
                <img src="{{ activity.imageURL }}" class="card-img-top" alt="{{ activity.title|title }}" title="{{ activity.title|title }}">
            </div>
        </div>
        <div class="col-lg-6 pl-lg-0 mb-3">
            <div class="activity-view__long-descr">
                {{ activity.longDescr }}
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Activity flags -->
        <div class="col-lg-6">
            <div class="row">
                <!-- At home or Out and About -->
                <div class="col-3 activity-view__flag">
                    {% if activity.location == 1 %}
                        <p class="activity-view__flag-icon">
                            <i class="fas fa-home"></i>
                        </p>
                        <p class="text-center">
                            <small>At Home</small>
                        </p>
                    {% elif activity.location == 2 %}
                        <p class="activity-view__flag-icon">
                            <i class="fas fa-map-signs"></i>
                        </p>
                        <p class="text-center">
                            <small>Out & About</small>
                        </p>
                    {% endif %}
                </div>
                <!-- Free todo -->
                <div class="col-3 activity-view__flag">
                    {% if activity.location == 1 %}
                        <p class="activity-view__flag-icon">
                            <i class="fas fa-feather-alt"></i>
                        </p>
                        <p class="text-center">
                            <small>Free todo</small>
                        </p>
                    {% elif activity.location == 2 %}
                        <p class="activity-view__flag-icon">
                            <i class="fas fa-pound-sign"></i>
                        </p>
                        <p class="text-center">
                            <small>Not free</small>
                        </p>
                    {% endif %}
                </div>
                <!-- Online only -->
                <div class="col-3 activity-view__flag">
                    {% if activity.online == 2 %}
                        <p class="activity-view__flag-icon">
                            <i class="fas fa-globe"></i>
                        </p>
                        <p class="text-center">
                            <small>Online</small>
                        </p>
                    {% endif %}
                </div>

            </div>
        </div>
        <!-- Best time todo -->
        <div class="col-lg-6 mt-2 mb-2">
            <p class="activity-view__text-box">
                Best time of year to do:
                <span class="d-xl-none"><br></span>
                {% for entry in activity.whenTodo %}
                    <span class="activity-view__when">{{ entry }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    {% if activity.venue %}
        <!-- Show venue information if available-->
        <div class="row">
            <!-- Venue address and map link-->
            <div class="col-lg-6">
                <p class="activity-view__label">Venue information</p>
                <p>
                    {{ activity.venue.name|lower|title }}<br>
                    {% for address_line in activity.venue.address.split('\n') %}
                        {{ address_line }}<br>
                    {% endfor %}
                    <span class="activity-view__postcode">
                        {{ activity.venue.postcode }}<br>
                    </span>
                    <a class="activity-view__link info" href="https://www.google.com/maps/search/?api=1&query={{ activity.venue.name|lower|title }}" target="_blank" rel="noopener noreferrer">
                    <i aria-hidden="true" class="fas fa-map-marker-alt" title="Venue web address"></i> Show on map</a>
                </p>
            </div>
            <!-- Email and web address -->
            <div class="col-lg-6">
                <p class="activity-view__label">Contact</p>
                {% if activity.venue.email %}
                    <p class="activity-view__link">
                        <a class="info" href="mailto:{{ activity.venue.email }}" target="_blank" rel="noopener noreferrer"><i aria-hidden="true" class="fas fa-at" title="Venue email address"></i> {{ activity.venue.email }}</a>
                    </p>
                {% endif %}
                {% if activity.venue.website %}
                    <p class="activity-view__link">
                        <a class="info" href="{{ activity.venue.website }}" target="_blank" rel="noopener noreferrer">
                        <i aria-hidden="true" class="fas fa-globe" title="Venue web address"></i> {{ activity.venue.website }}</a>
                    </p>
                {% endif %}
                {% if not activity.venue.email and not activity.venue.website %}
                    <p>No contact info on file</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if activity.additionalURL %}
        <!-- Show additional URL if available -->
        <div class="row">
            <div class="col-12">
                <p class="activity-view__label">Additional subject information, etc</p>
                <p class="activity-view__link">
                    <a class="info" href="{{ activity.additionalURL }}" target="_blank" rel="noopener noreferrer"><i aria-hidden="true" class="fas fa-info-circle" title="Venue web address"></i> {{ activity.additionalURL }}</a>                    
                </p>
            </div>
        </div>
    {% endif %}
    <!-- Show activity creator name or screenName and creation date -->
    <div class="row">
        <div class="col-12">
            <div class="activity-view__created float-right">
                {% if activity.userInfo.screenName %}
                    {% set created_by = activity.userInfo.screenName %}
                {% else %}
                    {% set created_by = activity.userInfo.name %}
                {% endif %}
                Created by {{ created_by|title }} on 
                {{ activity.createdOn.strftime('%d-%b-%Y') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}