{% extends "base.html" %}
{% block content %}

<div class="jumbotron search__bg border__highlight mx-auto text-center">
    <h1 class="">Find something to do or a place to go</h1>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Enter your search here" aria-label="search_text" aria-describedby="addon-wrapping">
        <div class="input-group-append">
            <button class="btn btn-success">SEARCH</button>
        </div>
    </div>
</div>

{% endblock %}