{% extends "base.html" %}
{% block content %}

<!-- User login -->
<div class="card login__form-width mx-auto">
	<div class="card-header">
        <div class="form__header-title">
            User Login
        </div>
        <div class="form__header-cancel float-right">
            <a class="action" href="{{ url_for('cancel_form', message='User Login') }}"><i class="far fa-window-close"></i></a>
        </div>
	</div>
	<div class="card-body shadow">
        <form name="login_form">
            <!-- Email -->
            <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" name="email" type="email" required class="form-control"  aria-describedby="emailHelp">
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" required class="form-control">
            </div>
            <p class="form__error form__error-hidden"></p>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <p class="form__info-text">
            If you do not have a login please register by clicking the button below. Thank you
        </p>
        <a href="{{ url_for('register') }}" class="btn btn-success">Register</a>
	</div>
</div>

{% endblock %}