{% extends "base.html" %}
{% block content %}

<div class="card register__form-width mb-5 mx-auto">
	<div class="card-header">
		User Registration
	</div>
    <!-- User registration form -->
	<div class="card-body shadow">
        <form name="register_form">
            <!-- User name -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" maxlength="15" required class="form-control"  aria-describedby="nameHelp">
                    <small id="nameHelp" class="form-text text-muted">
                    Please enter your full name.
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="screen_name">Screen name</label>
                    <input id="screen_name" name="screen_name" type="text" required class="form-control"  aria-describedby="screen_nameHelp">
                    <small id="screen_nameHelp" class="form-text text-muted">
                    The name you would like displayed next to any reviews.
                    </small>
                </div>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" name="email" type="email" required class="form-control"  aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">
                We'll never share your email with anyone else.
                </small>
            </div>
            <!-- Location info: postcode, town, county -->
            <div class="form-row">
                <div class="form-group col-md-6 col-lg-3">
                    <label for="postcode">Postcode</label>
                    <input id="postcode" name="postcode" type="text"  maxlength="10" 
                    pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}" required class="form-control">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="town">Town</label>
                    <input id="town" name="town" type="text" 
                    pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$" required class="form-control">
                </div>
                <div class="form-group col-md-6 col-lg-5">
                    <label for="county">County</label>
                    <input id="county" name="county" type="text" 
                    pattern="^[a-zA-Z]+(?:[\s][a-zA-Z]+)*$" required class="form-control">
                </div>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" 
                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required class="form-control">
            </div>
            <p class="form__error form__error-hidden"></p>
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
        <p class="form__info-text">
            If you have already registered please click <a href="/user/login/">HERE</a> to login.
        </p>
	</div>
</div>

{% endblock %}