{% extends "base.html" %}
{% block content %}

<div class="jumbotron search__bg border__highlight mx-auto text-center">
    <h1>Search results for&nbsp;&nbsp;" <strong>{{ search_phrase }}</strong> "</h1>
    <!-- <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Enter your search here" aria-label="search_text" aria-describedby="addon-wrapping">
        <div class="input-group-append">
            <button class="btn btn-success">SEARCH</button>
        </div>
    </div> -->
</div>

<div class="container">
    <div class="row">
        {% for activity in activities %}
            <div class="col-md-6 col-lg-4 mb-5">
                    <div class="card mx-auto" style="width: 18rem;">
                        {% if activity.hasImage %}
                            {% set image_name = activity._id %}
                        {% else %}
                            {% set image_name = "no_image_yet" %}
                        {% endif %}
                        <a href="#">
                            <img src="/static/images/activities/{{ image_name }}.jpg" class="card-img-top" alt="{{ activity.title }}" title="{{ activity.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ activity.title|upper }}</h5>
                            <p class="card-text">{{ activity.shortDescr }}</p>
                            <!-- <p class="card-text">{{ activity._id }}</p> -->
                            <a href="#" class="btn btn-primary mt-4">Find out more</a>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}