{% extends "base.html" %}
{% block content %}

<div class="card register__form-width mb-5 mx-auto">
	<div class="card-header">
		Submit an Activity
	</div>
    <!-- Activity submission form -->
	<div class="card-body shadow">
        <form name="submit_activity_form">
            <!-- Form fields title and short description -->
            <div class="form-row">
                <!-- Title -->
                <div class="form-group col-md-6">
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text" maxlength="40" required class="form-control"  aria-describedby="titleHelp">
                    <small id="titleHelp" class="form-text text-muted">
                    ie. Pumpkin carving, Yorkshire Wildlife Park
                    </small>
                </div>
                <!-- Short description -->
                <div class="form-group col-md-6">
                    <label for="short_descr">Short Description</label>
                    <textarea id="short_descr" name="short_descr" rows="2" required class="form-control"></textarea>
                </div>
            </div>
            <!-- Form field long description -->
            <div class="form-row">
                <!-- Long description -->
                <div class="form-group col-12">
                    <label for="long_descr">Long Description</label>
                    <textarea id="long_descr" name="long_descr" rows="5" required class="form-control"></textarea>
                </div>
            </div>
            <!-- Form fields location, age range, online, free -->
            <div class="form-row">
                <!-- Location -->
                <div class="form-group col-md-6 col-lg-3">
                    <label for="location">Location</label>
                    <select id="location" name="location" class="custom-select" required>
                        <option selected>--choose an option--</option>
                        <option value="1">At Home</option>
                        <option value="2">Out & About</option>
                    </select>
                </div>
                <!-- Age Range -->
                <div class="form-group col-md-6 col-lg-3">
                    <label for="age_range">Age range</label>
                    <span data-toggle="tooltip" data-placement="right" title="Suitable age-range for this activity ie 3-99, 4-6, 5-14, etc.">[?]</span>
                    <input id="age_range" name="age_range" type="text" maxlength="6" class="form-control" required>
                </div>
                <!-- Online only -->
                <div class="form-group col-md-6 col-lg-3">
                    <label for="online">Online only</label>
                    <span data-toggle="tooltip" data-placement="right" title="Is this activity just based online, such as an online course or club meetup.">[?]</span>
                    <select id="online" name="online" class="custom-select" required>
                        <option selected>--choose an option--</option>
                        <option value="true">Yes</option>
                        <option value="">No</option>
                    </select>
                </div>
                <!-- Free todo -->
                <div class="form-group col-md-6 col-lg-3">
                    <label for="free">Free todo 
                    <span data-toggle="tooltip" data-placement="right" title="Is this activity mostly free todo? e.g. a baking activity with just basic ingredients.">[?]</span>
                    </label>
                    <select id="free" name="free" class="custom-select" required>
                        <option selected>--choose an option--</option>
                        <option value="true">Yes</option>
                        <option value="">No</option>
                    </select>
                </div>
            </div>

            <!-- Additional venue fields if the activity is out and about -->
            <div id="venue--header" class="collapse hide">
                <hr class="form__divider">
                <p>Venue details for an 'Out & About' activity
                <span id="venue--toggle" class="toggle__arrow">&#x25BC;</span>
                </p>
            </div>
            <div id="venue--details" class="collapse hide">
                <!-- Venue form fields name and postcode -->
                <div class="form-row">
                    <!-- Venue name -->
                    <div class="form-group col-md-8 col-lg-6">
                        <label for="name">Name</label>
                        <input id="name" name="name" type="text" class="form-control">
                    </div>
                    <!-- Venue postcode -->
                    <div class="form-group col-md-4 col-lg-6">
                        <label for="postcode">Postcode</label>
                        <input id="postcode" name="postcode" type="text" class="form-control">
                    </div>
                </div>
                <!-- Venue form fields address, email and website -->
                <div class="form-row">
                    <!-- Venue address -->
                    <div class="form-group col-lg-6">
                        <label for="address">Address</label>
                        <textarea id="address" name="address" rows="4" class="form-control form__height-textarea"></textarea>
                    </div>
                    <!-- Venue email and website -->
                    <div class="form-group col-lg-6">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="email">Email</label>
                                <input id="email" name="email" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="website">Website</label>
                                <input id="website" name="website" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="form__divider">
            <!-- Form fields category and when todo -->
            <div class="form-row">
                <!-- Category -->
                <div class="form-group col-md-3">
                    <label for="location">Categories</label>
                    <span data-toggle="tooltip" data-placement="right" title="Select all the categories that apply to this activity.">[?]</span>
                    <select multiple id="category" name="category" class="custom-select form__height-fix" required>
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- When todo -->
                <div class="form-group col-md-3">
                    <label for="location">When To do</label>
                    <span data-toggle="tooltip" data-placement="right" title="When is the best time of year todo this activity, select all that apply.">[?]</span>
                    <select multiple  id="when_todo" name="when_todo" class="custom-select form__height-fix" required>
                        {% for when in when_todo %}
                        <option value="{{ (loop.index - 1) }}">
                        {{ when }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Form fields additional url and keywords -->
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <!-- Additional URL -->
                        <div class="form-group col-12">
                            <label for="additional_url">Additional URL</label>
                            <input id="additional_url" name="additional_url" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <!-- Keywords -->
                        <div class="form-group col-12">
                            <label for="keywords">Keywords</label>
                            <input id="keywords" name="keywords" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <p class="form__error form__error-hidden"></p>
            <input type="submit" value="Submit Activity" class="btn btn-primary">
        </form>
	</div>
</div>

{% endblock %}